<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="banner">
      <div><a href="/">Christopher Bowers</a> Photography</div>
    </div>

	<div class="wrapper">
        <div class="grid">
            <nav>
                <ul role="menu">
                    {{#each menus }}
                        <li {{#if (eq ../pageTitle title)}}class="active"{{/if}} role="none">
                            <a href={{ url }} role="menuitem">{{ title }}</a>
                        </li>
                    {{/each}}
                </ul>
            </nav>
            {{{ body }}}
        </div>
	</div>

	{{> footer }}

	<script defer src="/quicklink.umd.js"></script>
	<script nonce="{{ nonce }}">
        window.addEventListener("load", () => {
            quicklink.listen({
                el: document.querySelector("nav")
            });
        });
	</script>
</body>
</html>
